@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  font-size: 2rem;
  background-color: antiquewhite;
  box-shadow: 10px 10px 8px #888888;
}
.custom-font{
  font-family: "SUSE", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.option-buttons{
  margin: 10px;
}
body{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}